<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Basketball Page with random stats</title>
</head>
<body>
<h1>Players</h1>
<table>
    <thead>
    <tr>
        <th>Player</th>
        <th>Jersey number</th>
        <th>PPG</th>
        <th>Height</th>
        <th>Team</th>
    </tr>
    </thead>
    <tbody>
        <tr th:each="player: ${players}">
            <td th:text="${player.getPlayerName()}"></td>
            <td th:text="${player.getJerseyNumber()}"></td>
            <td th:text="${player.getPPG()}"></td>
            <td th:text="${player.getHeight()}"></td>
            <td th:text="${player.getTeam().getTeamName()}"></td>
        </tr>
    </tbody>

</table>
</body>
</html>